.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(200, 200, 229);
  position: sticky;
  top: 50px;
}

.sidebarWrap {
  padding: 20px;
  color: #555;
}

.sidebarMenu{
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: black;
}

.sidebarList{
  list-style: none;
  padding: 5px;
}

.sidebarListitem{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListitem.active, .sidebarListitem:hover{
  background-color: rgb(183, 183, 238);

}